# build artifacts

.eggs/
colt.egg-info/
build/
dist/
pip-wheel-metadata/


# python

*.pyc
*.pyo
__pycache__


# testing and continuous integration

.pytest_cache/
.mypy_cache


# env files
.envrc
.venv

.python-version
